<?xml version="1.0" encoding="UTF-8" ?>
<tns:menu xmlns:tns="http://www.etc.by/karamach/menu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.etc.by/karamach/menu menuScheme.xsd">
    <breakfast-menu>
        <food id="1">
            <image>/assortRiba.jpg</image>
            <name>Ассорти рыбное</name>
            <food-type>
                <description>Слабосоленая форель</description>
                <weight>100/20/15</weight>
                <price>123</price>
            </food-type>
        </food>

        <food id="2">
            <image>/makarons.jpg</image>
            <name>Макароны</name>
            <food-type>
                <description>Жаренные макароны</description>
                <weight>200/10</weight>
                <price>321</price>
            </food-type>
        </food>

        <food id="3">
            <image>/boolochki.jpg</image>
            <name>Булочки</name>
            <food-type>
                <description>Булочки от бабушки</description>
                <weight>300/100/10</weight>
                <price>999</price>
            </food-type>
        </food>

        <food id="4">
            <image>/smth.jpg</image>
            <name>Секретное</name>
            <food-type>
                <description>Оч вкусно</description>
                <weight>999/99</weight>
                <price>100500</price>
            </food-type>
        </food>

        <food id="5">
            <image>/assortBaklaszhani</image>
            <name>Баклажаны</name>
            <food-type>
                <description>1. Вкусные</description>
                <weight>100/5</weight>
                <price>10</price>
            </food-type>
            <food-type>
                <description>2. С чесноком</description>
                <weight>100/5</weight>
                <price>15</price>
            </food-type>
            <food-type>
                <description>3. С помидором</description>
                <weight>100/5</weight>
                <price>20</price>
            </food-type>


        </food>
    </breakfast-menu>

    <main-menu>
        <food id="6">
            <image>/draniki.jpg</image>
            <name>Дранички</name>
            <food-type>
                <description>1. Драники с сыром</description>
                <weight>500/100/20</weight>
                <price>300</price>
            </food-type>

            <food-type>
                <description>2. Драники с салом</description>
                <weight>450/70/30</weight>
                <price>500</price>
            </food-type>

            <food-type>
                <description>3. Драники с тунцом</description>
                <weight>400/200/100</weight>
                <price>600</price>
            </food-type>

            <food-type>
                <description>4. Драники с драниками</description>
                <weight>500/20/15</weight>
                <price>400</price>
            </food-type>
        </food>

        <food id="7">
            <image>/makarons.jpg</image>
            <name>Макароны</name>
            <food-type>
                <description>Макароны с сыром и фаршем</description>
                <weight>400/20</weight>
                <price>440</price>
            </food-type>
        </food>

        <food id="8">
            <image>/sushi.jpg</image>
            <name>Суши</name>
            <food-type>
                <description>Сладкие и соленые суши</description>
                <weight>300/300/200</weight>
                <price>250</price>
            </food-type>
        </food>

        <food id="9">
            <image>/babkaVPechi.jpg</image>
            <name>Бабка из печи</name>
            <food-type>
                <description>Оч вкусно</description>
                <weight>999/99</weight>
                <price>100500</price>
            </food-type>
        </food>

        <food id="10">
            <image>/golubi</image>
            <name>Голуби</name>
            <food-type>
                <description>1. Вкусные</description>
                <weight>100/5</weight>
                <price>10</price>
            </food-type>
            <food-type>
                <description>2. С чесноком</description>
                <weight>100/5</weight>
                <price>15</price>
            </food-type>
            <food-type>
                <description>3. С помидором</description>
                <weight>100/5</weight>
                <price>20</price>
            </food-type>
        </food>
    </main-menu>
</tns:menu>