<?xml version="1.0" encoding="UTF-8" ?>
<tns:menu xmlns:tns="http://www.etc.by/karamach/menu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.etc.by/karamach/menu menuScheme.xsd">
    <breakfast-menu>
        <food id="1">
            <image>/assortRiba.jpg</image>
            <name>Ассорти рыбное</name>

            <description>Слабосоленая форель</description>
            <weight>100/20/15</weight>
            <ingredients>
                <ingredient-name>сушеная</ingredient-name>
                <price>123</price>
            </ingredients>

        </food>

        <food id="2">
            <image>/makarons.jpg</image>
            <name>Макароны</name>

            <description></description>
            <weight>200/10</weight>
            <ingredients>
                <ingredient-name>Жаренные макароны</ingredient-name>
                <price>321</price>
            </ingredients>


        </food>

        <food id="3">
            <image>/boolochki.jpg</image>
            <name>Булочки</name>

            <description>Булочки от бабушки</description>
            <weight>300/100/10</weight>
            <ingredients>
                <ingredient-name>С солью</ingredient-name>
                <price>999</price>
            </ingredients>


        </food>

        <food id="4">
            <image>/smth.jpg</image>
            <name>Секретное</name>

            <description>Оч вкусно</description>
            <weight>999/99</weight>
            <ingredients>
                <ingredient-name>тайный ингредиент</ingredient-name>
                <price>100500</price>
            </ingredients>


        </food>

        <food id="5">
            <image>/assortBaklaszhani</image>
            <name>Баклажаны</name>
            <description>Ассорти баклажанов</description>
            <weight>100/5</weight>

            <ingredients>
                <ingredient-name>1. Со сметаноой</ingredient-name>
                <price>10</price>
            </ingredients>
            <ingredients>
                <ingredient-name>2. С сыром</ingredient-name>
                <price>15</price>
            </ingredients>
            <ingredients>
                <ingredient-name>3. С помидором</ingredient-name>
                <price>20</price>
            </ingredients>
        </food>
    </breakfast-menu>

    <main-menu>
        <food id="6">
            <image>/draniki.jpg</image>
            <name>Дранички</name>
            <description>С пылу с жару</description>
            <weight>500/100/20</weight>

            <ingredients>
                <ingredient-name>С сыром</ingredient-name>
                <price>300</price>
            </ingredients>

            <ingredients>
                <ingredient-name>Со сметаной</ingredient-name>
                <price>500</price>
            </ingredients>

            <ingredients>
                <ingredient-name>С салом</ingredient-name>
                <price>600</price>
            </ingredients>

            <ingredients>
                <ingredient-name>С тунцом</ingredient-name>
                <price>400</price>
            </ingredients>
        </food>

        <food id="7">
            <image>/makarons.jpg</image>
            <name>Макароны</name>
            <description>Макароны с сыром</description>
            <weight>400/20</weight>

            <ingredients>
                <ingredient-name>С фаршем</ingredient-name>
                <price>440</price>
            </ingredients>
        </food>

        <food id="8">
            <image>/sushi.jpg</image>
            <name>Суши</name>
            <description>Сладкие суши</description>
            <weight>300/300/200</weight>

            <ingredients>
                <ingredient-name>С солью</ingredient-name>
                <price>250</price>
            </ingredients>
        </food>

        <food id="9">
            <image>/babkaVPechi.jpg</image>
            <name>Бабка из печи</name>
            <description>Оч вкусно</description>
            <weight>999/99</weight>

            <ingredients>
                <ingredient-name>С гарью</ingredient-name>
                <price>100500</price>
            </ingredients>
        </food>

        <food id="10">
            <image>/golubi</image>
            <name>Голуби</name>
            <description>С приправми</description>
            <weight>100/5</weight>

            <ingredients>
                <ingredient-name>1. Вкусные</ingredient-name>
                <price>10</price>
            </ingredients>
            <ingredients>
                <ingredient-name>2. С чесноком</ingredient-name>
                <price>15</price>
            </ingredients>
            <ingredients>
                <ingredient-name>3. С помидором</ingredient-name>
                <price>20</price>
            </ingredients>
        </food>
    </main-menu>
</tns:menu>